.movieInformation{
    display: flex;
    gap: 40px;
    margin-top: 10px;
    border-bottom: 1px solid #6e6e6e;
    padding-bottom: 30px;
}

.goBackBtn{
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    width: 80px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #000;
}

.additionalInformation{
    border-bottom: 1px solid #6e6e6e;
}

.additionalInformationLink{
    text-decoration: none;
    color: #474747;

    &:hover{
        color: #000;
        font-size: 20px;
    }
}