.movieSearchInput{
    margin-top: 20px;
    height: 20px;
    width: 400px;
}

.movieSearchBtn{
    height: 26px;
    width: 80px;
    padding: 0;
}

.movieListItem{
    text-decoration: none;
    color: rgb(60, 57, 57);

    &:hover{
        color: #000;
        font-size: 20px;
    }
}